
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
   
}
html{
    scroll-behavior: smooth;
}
.nav-links {
    list-style-type: none;
    display: none;
}

.nav-links a {
    display: block;
    padding: 15px;
    background: #1b001b;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.nav-links a:hover {
    text-decoration: underline;
}

.social-icons :hover {
    color: #e700e7;
    transform: translateY(-10%);
}

.social-icons {
    display: block;
    
}

.nav-container {
    padding: 0 20px 2px;
    background: rgba(78, 0, 78, 0.8);
    display: flex;
    justify-content: space-between;
  
}

.nav-container img {
    width: 50px;
   
    align-self: center;
}

.line1, .line2, .line3 {
    width: 30px;
    height: 4px;
    margin: 5px;
    background: #ffe7ff;
    transition: transform 2s ease, opacity 2s ease;
}

.btn {
    padding: 2px;
    display: inline-block;
    cursor: pointer;
    align-self: center;
}

.change .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-7px, -8px);
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(24, 2, 27, 0.8), rgba(162, 0, 193, 0.3)), url(images/hero2.jpg) center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
}

nav {
    flex: 0 0 auto;
}

nav ul li:last-of-type {
    display: flex;
}

nav ul li:last-of-type a {
    display: flex;
    flex: 1 0 auto;
    text-align-last: center;
}

.fab {
    font-size: 30px;
}

.nav-links .social-icons a:hover {
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background 2s ease;
}

.navBackground {
    background: rgba(34, 0, 40, 0.8);
}

.main-title {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    flex: 0 0 90%;
    text-align: center;
    padding: 100px 0;
}

.main-text h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

.main-text p {
    margin: 0 auto;
    font-weight: lighter;
    letter-spacing: 10px;
    margin-left: 32px;
    color: white;
}

.main-btn {
    text-transform: uppercase;
    color: #f5f5f5;
    letter-spacing: 5px;
    border: 3px solid #f5f5f5;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 10px;
}

.main-btn:hover {
    background: #bf00e3;
    color: #f5f5f5;
}

@media screen and (min-width: 992px) {
    .btn {
        display: none;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .nav-container {
        background: transparent;
        flex: 0 0 auto;
    }

    .nav-links {
        padding: 0 20px;
        flex: 1 0 auto;
        display: flex!important;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex: 1 0 auto;
    }

    .nav-links a {
        background: transparent;
        text-align: center;
        color: #f5f5f5;
    }

    .social-icons {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: space-around;
        list-style-type: none;
        padding: 0 20px;
    }

    .social-icons {
        font-size: 40px;
    }

    .social-icons a:hover {
        color: #e700e7;
        transform: translateY(-10%);
    }
}

/* About Section */
.section-center {
    width: 80vw;
    padding: 4rem 0;
    margin: 0 auto;
    max-width: 1170px;
}

.about {
    background: #ffffff;
}

.about-img {
    width: 300px;
    border-radius: 50%;
}

.about-img,
.about-info {
    margin-bottom: 64px;
}

.about-info h2 {
    text-transform: uppercase;
}

.abt-text {
    margin-bottom: 20px;
    line-height: 2;
    font-weight: 300;
}

.about-btn {
    text-transform: uppercase;
    color: black;
    letter-spacing: 4px;
    border: 3px solid white;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin-top: 30px;
    padding: 0.9rem 1.6rem;
    opacity: 1;
}

.about-btn:hover {
    opacity: 1;
    border: 3px solid #e700e7;
}

/* End of About Section */

/* Work out Section */

#workout {
    background: #4e004e;
    padding: 40px;
}

#workout .title {
    font-size: 60px;
    text-transform: capitalize;
    color: #f5f5f5;
    text-align: center;
    margin: 25px 0 20px 0;
}

.service {
    text-align: center;
    margin: 20px 0;
    color: #f5f5f5;
}

.service .fas {
    padding: 20px;
    font-size: 50px;
    cursor: pointer;
}

.service h3 {
    margin: 10px 0 15px 0;
    text-transform: capitalize;
    font-size: 30px;
}

.service p {
    line-height: 1.5;
    width: 75%;
    margin: 10px auto;
    font-weight: lighter;
}

@media screen and (min-width: 576px) {
    .work-center {
        max-width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap        ;
        justify-content: space-between;
    }

    .service {
        flex: 0 0 calc(50% - 1em);
    }
}

@media screen and (min-width: 776px) {
    .service {
        flex: 0 0 calc(25% - 1em);
    }
}

/* End of Work out section */

/* Testimonial */

#testimonial {
    padding: 40px;
    background: #ffff;
}

#testimonial .title {
    font-size: 60px;
    text-transform: capitalize;
    color: #1b001b;
    text-align: center;
    margin: 25px 0 20px 0;
}

.testimonial {
    color: #1b001b;
    text-align: center;
    margin: 20px 0;
}

.testimonial img {
    border-radius: 50%;
    max-width: 200px;
}

.testimonial h3 {
    margin: 10px 0;
    text-transform: uppercase;
    color: #1b001b;
}

.testimonial p {
    line-height: 1.5;
    width: 75%;
    margin: 10px auto;
    font-weight: lighter;
}

@media screen and (min-width: 576px) {
    .client-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .testimonial {
        flex: 0 0 calc(35% - 3em);
    }
}

/* End of testimonial */

/* Our Classes Section */

#classes {
    background: #4e004e;
    padding: 40px;
}

#classes .title {
    font-size: 60px;
    text-transform: capitalize;
    color: #f5f5f5;
    text-align: center;
    margin: 25px 0 20px 0;
}

.classes-container {
    max-width: 90vw;
    margin: 0 auto;
}

.class-item {
    background-color: #4e004e;
    color: #f5f5f5;
    margin: 20px 0;
}

#classes img {
    width: 100%;
    display: block;
}

.img-container {
    position: relative;
}

.class-item h4 {
    margin-top: 10px;
    margin-left: 180px;
}

@media screen and (min-width: 576px) {
    .classes-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}

@media screen and (min-width: 992px) {
    .classes-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}

/* End of Classes */

/* Subscription */

#subscribe {
    padding: 40px;
    background: #ffff;
}

#subscribe .title {
    font-size: 60px;
    text-transform: capitalize;
    color: #1b001b;
    text-align: center;
    margin: 25px 0 20px 0;
}

.input-group {
    width: 80vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

.form-control {
    flex: 1 1 auto;
}

.form-control,
.btn-submit {
    padding: 0.375rem 0.57rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    letter-spacing: mainSpacing;
    background: #ffff;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #1b001b;
}

::placeholder {
    color: #1b001b;
}

.btn-submit {
    border-left: none;
    cursor: pointer;
    background: #1b001b;
    color: #ffff;
}

.btn-submit:hover {
    color: #ffff;
    background-color: #4e004e;
}

/* End of Subscription */

/* Footer */

footer {
    background-color: #1b001b;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.footer-text {
    text-transform: uppercase;
    font-size: 15px;
    color: #ffff;
    margin-bottom: 10px;
}

.terms {
    text-transform: uppercase;
    font-size: 15px;
    color: #ffff;
    margin-bottom: 10px;
    justify-content: space-between;
}

/* //////////////////////////////////////////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --green: #43aa8b;
    --red: #bc4749;
}

body{
    background-color: #edf6f9;
    font-family: 'Andika New Basic', sans-serif;
    color: #2f3e46;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.budget__numbers{
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 700px;
    margin: 1rem 0 3rem;
}

.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.amount__container{
    display: flex;
}

#amount_earned,#earned_symbol{color: var(--green);}
#amount_spent,#spent_symbol{color: var(--red);}

.input__area input{
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

.input__area #description{
    width: 330px;
}

.input__area #amount{
    width: 70px;
    text-align: center;
}

/* remove arrows from number input */
.input__area input::-webkit-outer-spin-button,
.input__area input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.buttons__area{
    margin: 10px 0 3rem;
}

.buttons_area #add_income,
.buttons_area #add_expense{
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

#add__income{background-color: var(--green);}
#add__expense{background-color: var(--red);}

.items__container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    max-width: 700px;
}

#income__container h2{color: var(--green);}
#expenses__container h2{color: var(--red);}

.items__container .container{
    width: 49%;
    border-radius: 15px;
}

.container .item{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 30px;
    position: relative;
}

.item__income,
.item__expense{
    display: flex;
}

.income span, .income p{color: var(--green);}
.expense span, .expense p{color: var(--red);}

.item .far{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--red);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transform: translateX(30px);
    opacity: 0;
}

.item:hover .far{
    animation: showDelete;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showDelete{
    0%{
        transform: translateX(30px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}